body {
    margin: 0;
    min-height: 100vh;
    background-color: black;
    color: white;
}

#OVERSKRIFT {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin-top: 20px;
}